<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="product" class="com.mindgate.pojo.Product" scope="prototype">
	    <constructor-arg name="productId" value="100"/>
	    <constructor-arg name="name" value="lays"/>
	    <constructor-arg name="price" value="20"/>
	
	</bean>

</beans>
